.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-head {
  min-width: 500px;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  
}

#link-back {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
  padding: 4px;
}

#link-back:hover {
  color: gray;
  background-color: rgba(128, 128, 128, 0.29);
  border-radius: 20px;
}

.checkout-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  width: 50vw;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.451);
}

.checkout-image {
  height: 100px;
  width: 75px;
  object-fit: cover;
  margin-right: 50px;
}

@media (max-width: 500px) {
  .checkout-image {
    display: none;
  }
}

.cc-sub-section {
  height: auto;
  width: 150px;
}

.cc-sub-section-two {
  
}

.dlt-btn {
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
}

.dlt-btn:hover {
  background-color: rgba(255, 0, 0, 0.384);
  color: black;
}

.buy-btn {
  border: 1px solid rgba(0, 128, 0, 0.339);
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: rgba(0, 128, 0, 0.208);
}

.total {
  padding: 20px;
}