.shirt-department {
  width: 100vw;
  height: auto;
}

.sub-title {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.department-page {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) ) ;
  min-height: 100vh;
  width: 100%;
}

