.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  padding-left: 10px;
}
button {
  border: white;
  border-radius: 20%;
  padding: 6px;
  background-color: rgba(227, 226, 226, 0.188);
}

button:hover {
  color: blueviolet;
  cursor: pointer;
}

input {
  border: white;
  background-color: rgba(235, 235, 235, 0.188);
}

form {
  border: 2px solid rgba(103, 102, 102, 0.48);
  border-radius: 15px;
  padding: 4px;
  display: flex;
  align-items: center;
}

.header {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(128, 128, 128, 0.188);
}

@media (max-width: 700px) {
  form{
    display: none;
  }
}

.shopping-cart {
  position: relative;
  padding-right: 10px;
  width: 200px;
}

.product-count {
  background-color: red;
  color: white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  position: absolute;
  top: 0%;
  right: 30%;
}


.navLinks {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin-left: 10px;
  font-size: 26px;
}

.navLinks:hover {
  color: gray;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/charlesdeluvio-_4K7BwaHUGc-unsplash.jpg");
  height: 87vh;
  background-size: cover;
  background-position: center;
  color: black;
}

.title-header {
  font-size: 100px;
}

.shop-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.shop-link:hover {
  color: white;
}

.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link:hover {
  color: gray;
}

.footer {
  height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

